org.rebecalang.afra.ideplugin/src/org/rebecalang/afra/ideplugin/view/modelcheckreport/resultobjectmodel/counterexample/state.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="variable">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="required"/>
          <xs:attribute type="xs:string" name="type" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="message">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="arrival" use="optional"/>
          <xs:attribute type="xs:string" name="deadline" use="optional"/>
          <xs:attribute type="xs:string" name="sender" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="statevariables">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="variable" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queue">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="message" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="now" type="xs:string"/>
  <xs:element name="pc" type="xs:string"/>
  <xs:element name="res" type="xs:string"/>
  <xs:element name="rebec">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="statevariables"/>
        <xs:element ref="queue"/>
        <xs:element ref="now" maxOccurs="1" minOccurs="0"/>
        <xs:element ref="pc" maxOccurs="1" minOccurs="0"/>
        <xs:element ref="res" maxOccurs="1" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="state">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rebec" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:string" name="atomicpropositions" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>