org.rebecalang.afra.ideplugin/src/org/rebecalang/afra/ideplugin/view/modelcheckreport/resultobjectmodel/counterexample/transition.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
    jxb:version="2.1">


	<xs:element name="transition">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="messageserver" />
				<xs:element ref="time" />
			</xs:choice>
			<xs:attribute type="xs:string" name="source" />
			<xs:attribute type="xs:string" name="destination" />
			<xs:attribute type="xs:string" name="executionTime"
				use="optional" />
			<xs:attribute type="xs:string" name="shift"
				use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="messageserver">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute type="xs:string" name="sender"
						use="required" />
					<xs:attribute type="xs:string" name="owner"
						use="required" />
					<xs:attribute type="xs:string" name="title"
						use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="time">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute type="xs:decimal" name="value"
						use="required">
						<!-- rename property generated by JAXB (avoiding "Value" name conflict) -->
						<xs:annotation>
							<xs:appinfo>
								<jxb:property name="progressOfTime" />
							</xs:appinfo>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>