org.rebecalang.afra.ideplugin/src/org/rebecalang/afra/ideplugin/view/modelcheckreport/resultobjectmodel/counterexample/transition.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="messageserver">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="sender" use="required"/>
          <xs:attribute type="xs:string" name="owner" use="required"/>
          <xs:attribute type="xs:string" name="title" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="transition">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="messageserver"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="source"/>
      <xs:attribute type="xs:string" name="destination"/>
      <xs:attribute type="xs:string" name="executionTime" use="optional"/>
      <xs:attribute type="xs:string" name="shift" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>